@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Colors */
    --vddBlue: hsl(238, 29%, 16%);
    --softBlue: hsl(240, 73%, 65%);
    /* Background Gradient */
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    /* Text */
    --vdgBlue: hsl(237, 12%, 33%);
    --dgBlue: hsl(240, 6%, 50%);
    /* Dividers */
    --lgBlue: hsl(240, 5%, 91%);
    /* Fonts */
    --mainFont: 'Kumbh Sans', sans-serif;
}