@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Colors */
    --vddBlue: hsl(238, 29%, 16%);
    --softBlue: hsl(240, 73%, 65%);
    /* Background Gradient */
    --softViolet: rgb(175, 103, 233);
    --softBlue: rgb(101, 101, 231);
    /* Text */
    --vdgBlue: hsl(237, 12%, 33%);
    --dgBlue: hsl(240, 6%, 50%);
    --softRed: hsl(14, 88%, 65%);
    /* Dividers */
    --lgBlue: hsl(240, 5%, 91%);
    /* Fonts */
    --mainFont: 'Kumbh Sans', sans-serif;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--softBlue);
    background: linear-gradient(0deg, rgba(101,101,231,1) 25%, rgba(175,103,233,1) 75%); 
    background-repeat: no-repeat;
    min-height: 100vh;
    /* background-size: cover; */
}
.container {
    display: flex;
    width: 80%;
    max-width: 56rem;
    /* min-height: 900px; */
    margin: 5rem auto;
    background: white;
    border-radius: 2rem;
}
.content-left {
    position: relative;
    width: 50%;
}
.content-right {
    width: 50%;
    font-family: var(--mainFont);
}
.content-right h2 {
    padding: 1.5rem 0;
    font-weight: 700;
    font-size: 2rem;
}
/* Accordion Styling */
.accordion {
    padding: 0 6rem 3rem 0;
}
.accordion-item {
    padding-bottom: 1rem;
}
.accordion-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--lgBlue);
}
.accordion-item-header img {
    height: .5rem;
    width: .5rem;
}
.accordion-item-header.active img {
    transform: rotate(180deg);
    transition: transform .2s ease;
}
.accordion-item-header:hover {
    cursor: pointer;
    color: var(--softRed);
}
.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
}
.accordion-item-body p {
    padding: 1rem 0;
}
.active {
    font-weight: bold;
}
#desktop1,
#desktop2,
#desktop3 {
    display: block;
    position: absolute;
}
#desktop1,
#desktop2 {
    width: 100%;
    top: 5rem;
    left: -3rem;
}
#desktop3 {
    top: 10rem;
    left: -8rem;
}