@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* Colors */
    --vddBlue: hsl(238, 29%, 16%);
    --softBlue: hsl(240, 73%, 65%);
    /* Background Gradient */
    --softViolet: rgb(175, 103, 233);
    --softBlue: rgb(101, 101, 231);
    /* Text */
    --vdgBlue: hsl(237, 12%, 33%);
    --dgBlue: hsl(240, 6%, 50%);
    /* Dividers */
    --lgBlue: hsl(240, 5%, 91%);
    /* Fonts */
    --mainFont: 'Kumbh Sans', sans-serif;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(0deg, rgba(101,101,231,1) 25%, rgba(175,103,233,1) 75%); 
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    width: 80%;
    max-width: 1440px;
    min-height: 900px;
    margin: 2rem auto;
    background: white;
}